<div class="code-html page-width">{{section.settings.code_html}}</div>
{% schema %}
  {
    "name": "Code html",
    "settings": [
      {
        "type": "html",
        "id": "code_html",
        "label": "Code html"
      }
    ],
	"presets": [
       {
        "name": "Code html"
       }
  	]
  }
{% endschema %}